#pri {
	font-size: 150%;
}

#insta {
	float: left;
	padding-right: 25px;
	padding-left: 25px;
	padding-bottom: 10px;
	max-width: 30%;
	min-width: 320px;
}

div {
	float: left;
}

body {
  margin: 1;
  font-family: nunito, helvetica;
}

a {
	font-family: nunito, helvetica;
	color: red;
}